@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import './variables';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $blueColor;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: $border-radius;
  background-color: $whiteColor;
}
