$blueColor: #2F80ED;
$whiteColor: #FFFFFF;
$grayColor: #828282;
$mainColor: #333333;
$gray3Color: #E0E0E0;

$border-radius: 20px;

$containerWidth: 1440px;
$desktopTransformWidth: 1070px;
$tabletWidth: 890px;
$tabletDataTransformWidth: 649px;
$tabletHeaderTransformWidth: 535px;
$mobileWidth: 820px;
$mobileTransformWidth: 425px;
