@import '../../styles/variables';

.header {
  width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  z-index: 1;
  position: sticky;
  top: -1px;
  &__container {
    display: flex;
    min-height: 69px;
    align-items: center;
    justify-content: space-between;
    background-color: $whiteColor;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  &__logo {
    display: flex;
    gap: 12px;
    margin-right: 20px;
    &__image {
      display: flex;
      align-items: center;
      svg {
        height: 34px;
        width: 32px;
      }
    }
    &__title {
      font-weight: 600;
      font-style: normal;
      font-size: 18px;
      line-height: 27px;
      color: $mainColor;
      display: flex;
      align-items: center;
    }
  }
  &__select_date {
    display: flex;
    align-items: center;
  }
  &__search {
    max-width: 338px;
    &__form {
      display: flex;
      justify-content: space-between;
      padding: 2px 0 2px 2px;
      height: 34px;
      border-radius: 8px;
      box-shadow:(0px 4px 12px rgba(0, 0, 0, 0.1));
      position: relative;
    }
    &__input {
      min-width: 250px;
      height: 30px;
      color: #BDBDBD;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
      &::placeholder {
        color: #BDBDBD;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    &__button {
      width: 74px;
      height: 30px;
      background-color: $blueColor;
      border-radius: 8px;
      color: $whiteColor;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
    }
    &__span {
      background-color: red;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: $whiteColor;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: 10px;
      left: 316px;
      bottom: 21px;
    }
  }
  &__separator {
    width: 35px;
    height: 0;
    border: 1px solid $gray3Color;
    transform: rotate(90deg);
  }
  &__date {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow:(0px 4px 12px rgba(0, 0, 0, 0.1));
    padding: 2px;
    min-width: 60px;
    height: 34px;
  }
  &__change_theme{
    display: flex;
    align-items: center;
    svg {
      height: 34px;
      width: 32px;
      fill: $blueColor;
    }
  }
}

.container {
  max-width: $containerWidth;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
}

.date {
  color: $mainColor;
  &__day {
    margin-right: 15px;
  }
  &__hours {
    color: $blueColor;
  }
  &__divider {
    color: $blueColor;
  }
  &__minutes {
    color: $blueColor;
  }
}
.transparent {
  color: transparent;
}
.hide {
  display: none;
}
@media screen and (max-width: $tabletWidth) {
  .header__search {
    &__input{
      min-width: 100px;
    }
    &__span {
      left: 170px;
    }
  }
}
@media screen and (max-width: $tabletDataTransformWidth) {
  .date__day{
    margin-right: 0;
  }
}
@media screen and (max-width: $tabletHeaderTransformWidth) {
  .header__container {
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100px;
  }
}
@media screen and (max-width: $mobileTransformWidth) {
  .header__separator {
    display: none;
  }
  .header__select-date {
    gap: 10px;
  }
}
